/* Color Palette 
Light Pink: #e3b0a8
Dark Blue: #447887
Light Gray: #E1D9D6
Light Blue: #9AC0D0
Dark Green: #295636
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Dosis:wght@900&family=Montserrat&display=swap');
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1,
h2,
h3 {
  font-family: 'Dosis';
}

p,
small,
li,
a,
span,
div,
button {
  font-family: 'Open Sans';
}

body {
  background-color: #9ac0d0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1700px) {
  .container {
    max-width: 1400px;
  }
}

.hero {
  background: linear-gradient(rgba(50, 88, 98, 0.85), rgba(50, 88, 98, 0.75)),
    url(img/nuclear-hero.jpeg) center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(img/nuclear-hero.jpeg) center center no-repeat;

  background-size: cover;
  padding-bottom: 30px;
}

.header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }
}

.hero .logo img {
  width: 250px;
}

.hero .header .nav {
  display: flex;
}

.hero .header .nav .nav-link {
  color: #e3b0a8;
  font-weight: 300;
  font-size: 1.5em;
  padding: 15px 20px;
}

.hero .header .button {
  cursor: pointer;
  background-color: #e3b0a8;
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
  padding: 15px 35px;
  border-radius: 5px;
  margin-left: 25px;
}

@media (max-width: 700px) {
  .hero .header .nav {
    flex-wrap: wrap;
  }
  .hero .header .nav .nav-link {
    font-size: 1em;
    border-bottom: 2px solid #e3b0a8;
    padding: 5px 2px;
    margin: 10px 4px;
  }
  .hero .header .button {
    font-size: 1em;
    padding: 5px 15px;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
  }
}

.hero-content {
  padding: 30px 0 120px 0;
}

.hero-content h1 {
  text-align: center;
  padding: 0px 15px 15px 15px;
  font-size: 6em;
  font-weight: 900;
  color: #e3b0a8;
  display: block;
  margin: 0 auto;
  /* text-shadow: 1px 1px #447887; */
}

.hero-content p {
  text-align: center;
  padding: 0 15px;
  font-size: 1.4em;
  font-weight: 400;
  color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 800px;
  margin: 0 auto;
}

.main {
  background: linear-gradient(
      rgba(68, 120, 135, 0.45),
      rgba(68, 120, 135, 0.45)
    ),
    url(img/calendar-background.jpeg) center center no-repeat;
  background-size: cover;
}

.calendar {
  padding: 90px 0;
}

.calendar h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 45px;
}

@media (max-width: 769px) {
  .hero-content h1 {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  .header {
    justify-content: center;
    flex-direction: column;
  }
}

a.footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 2em;
  background-color: #4fb9fc;
  text-decoration: none;
  color: #fff;
  border-top: 45px solid #295636;
}

@media (max-width: 500px) {
  a.footer {
    font-size: 1em;
  }
}

.smgc-cal-bCMUbVNFjzC5SWWdmtpj-event-container {
  padding: 10px !important;
}

#smgc-cal-bCMUbVNFjzC5SWWdmtpj-calendar-container
  .smgc-cal-bCMUbVNFjzC5SWWdmtpj-calendar-month-header {
  height: 75px !important;
  align-items: center !important;
  border-bottom: 5px solid #fff !important;
  margin-bottom: 20px !important;
  padding: 0 10px !important;
}

#smgc-cal-bCMUbVNFjzC5SWWdmtpj
  #smgc-cal-bCMUbVNFjzC5SWWdmtpj-html-container
  #smgc-cal-bCMUbVNFjzC5SWWdmtpj-calendar-container {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  padding: 10px;
}
